{% extends 'base.html' %} 

{% block body %}

    <div  style="display: inline-block; margin-bottom: 30px;">
        <form method="POST">
            <select name="type">
                <option>Не указано</option>
                {% for value in res_type %}
                <option>{{value[0]}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Выбрать">
        </form>
    </div>

    <div  style="display: inline;">
        <table>
            <tr>
                <th>Медикамент</th>
                <th>Цена</th>
                <th>На складе</th>
            </tr>
            
            {% for value in result %}
            <tr> 
                <td>{{value[0]}}</td>
                <td>{{value[1]}}</td>
                <td>{{value[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
     
{% endblock body%}